# Node modules
node_modules/

# Gulp-specific
gulpfile.js
package-lock.json
.gulp/
/pixelPerfect

# Logs
logs
*.log
npm-debug.log*

# Build directories

# Temporary files
temp/
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db
*.swp

# IDE-specific files (например, для Visual Studio Code)
.vscode/
.idea/

# environment files
.env
.env.local
.env.*.local

# Other files to ignore
coverage/
*.tgz

# Yarn Integrity file
.yarn-integrity
