.footer{
    background-color: $colorAccent;
    border-top: 1px solid $colorBG;
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 64px;
        padding: 38px 0;
        color: $colorBG;
        @media (max-width: 768px) {
            font-size: rem(16);
            line-height: 124%;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
            gap: 16px 0;
        }
    }
    & .footer__privacy{
        color: $colorBG;
        text-decoration: underline;
    }
}