.goals{
    margin-top: 64px;
    @media(max-width: 768px){
        margin-top: 32px;
    }
    & .container{
        max-width: 936px;
    }
    &__inner{
        padding: 64px 0;
        position: relative;
        @media (max-width: 500px) {
            padding: 32px 0;
        }
    }
    &__title{
        @include h1;
        color: $colorAccent;
        @media (max-width: 768px) {
            font-size: rem(32);
            line-height: 124%;
        }
    }
    &__wrapper{
        margin-top: 66px;
        overflow-x: hidden;
        @media (max-width: 768px) {
            margin-top: 48px;
        }
        @media (max-width: 500px) {
            margin-right: -16px;
        }
    }
    &__items{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0 56px;
        transition: all .4s ease;
        @media (max-width: 768px) {
            gap: 0 32px;
        }
    }
    &__item{
        width: 328px;
        height: 356px;
        margin-bottom: 10px;
        flex-shrink: 0;
        border: 1px solid $colorText;
        padding: 16px 16px 192px 16px;
        box-shadow: 8px 8px 0 $colorText;
        @media (max-width: 500px) {
            width: 240px;
        }
        &-title{
            @include h3;
            color: $colorAccent;
            @media (max-width: 768px) {
                font-size: rem(20);
                line-height: 142%;
            }
        }
        &-text{
            margin-top: 16px;
            @include p1;
            color: $colorText;
            @media (max-width: 768px) {
                font-size: rem(16);
                line-height: 124%;
            }
        }
    }
}