.hero{
    & .container{
        max-width: 968px;
    }
    &__inner{

    }
    &__top{
        padding: 64px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 122px;
        @media(max-width: 1300px){
            padding: 50px 0;
        }
        @media (max-width: 768px) {
            gap: 0 72px;
        }
        @media (max-width: 760px) {
            padding: 32px 0;
            flex-direction: column-reverse;

        }
        &-title{
            @include h1-promo;
            color: $colorAccent;
            @media (max-width: 768px) {
                font-size: rem(64);
            }
            @media (max-width: 400px) {
                font-size: rem(48);
            }
            & span{
                display: block;
                margin-top: 24px;
                @include h1;
                color: $colorText;
                @media (max-width: 768px) {
                    font-size: rem(32);
                    line-height: 124%;
                }
                @media (max-width: 400px) {
                    margin-top: 0px;
                }
            }
        }
        &-image{
            max-width: 288px;
            & img {
                object-fit: contain;
                width: 100%;
            }
        }
        & .button-accent{
            margin-top: 50px;
            @include button-accent;
            @media (max-width: 400px) {
                margin-top: 24px;
            }
        }
    }
    &__bottom{
        margin-left: auto;
        margin-right: auto;
        @include lead;
        margin-top: 64px;
        padding: 64px 0;
        max-width: 936px;
        position: relative;
        @media (max-width: 768px) {
            margin-top: 32px;
            font-size: rem(24);
            line-height: 132%;
            max-width: 696px;
        }
        @media (max-width: 400px) {
            margin-top: 24px;
            font-size: rem(24);
            line-height: 132%;
            max-width: 696px;
            padding: 32px 0;
        }
        &::after{
            content: '';
            position: absolute;
            background-image: url(../../images/mobile-bg.webp);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: contain;
            opacity: .05;
            top: 0;
            right: 0;
            width: 322px;
            height: 408px;
            z-index: -1;
            @media (max-width: 768px) {
                width: 278px;
                height: 352px;
            }
            @media (max-width: 768px) {
                top: initial;
                bottom: 0;
            }
        }
        &-text:last-child{
            margin-top: 39px;
            max-width: 880px;
            @media (max-width: 768px) {
                max-width: 660px;
            }
        }
    }
}