section.articles
    .container
        .articles__inner
            h2.articles__title { Полезные статьи }
            .articles__wrapper
                .articles__items
                    .articles__item
                        img(src="images/card-1.webp", alt="card").articles__item-img
                        h3.articles__item-title
                            a(href="#!").articles__item-title   Пользовательский опыт при работе с UX
                        p.articles__item-text
                        footer.articles__item-footer
                            p.articles__item-date 3 ИЮНЯ, 2021
                            p.articles__item-read-duration 5 МИН
                    .articles__item
                        h3.articles__item-title
                            a(href="#!").articles__item-title iOS 15 – что нового для продуктовых дизайнеров и разработчиков
                        p.articles__item-text Давайте рассмотрим все изменения, новые функции и API, которые будут интересны продуктовым дизайнерам и разработчикам.
                    .articles__item
                        h3.articles__item-title
                            a(href="#!").articles__item-title Сквирклморфизм (Squirclemorphism) в дизайне интерфейсов
                        p.articles__item-text Вы заметили рост популярности этого тренда?
                    .articles__item
                        h3.articles__item-title
                            a(href="#!").articles__item-title 6 правил UX, которые тебе нужны
                        p.articles__item-text Любой, кто знаком с лучшими практиками в области дизайна, знает, насколько важно вкладывать время и ресурсы в разработку UX.
            include ../components/slider-buttons.pug
            include ../components/progress-bar.pug