- var Items = [{title: '/* Теория */', text: 'Познакомимся с актуальным стеком, изучим критерии качества работы, узнаем как тестировать и как верстать так, чтобы всем нравилось'},{title: '/* Практика */', text: 'Познакомимся с актуальным стеком, изучим критерии качества работы, узнаем как тестировать и как верстать так, чтобы всем нравилось'}, {title: '/* Ревью */', text: 'Познакомимся с актуальным стеком, изучим критерии качества работы, узнаем как тестировать и как верстать так, чтобы всем нравилось'}, {title: '/* Теория */', text: 'Познакомимся с актуальным стеком, изучим критерии качества работы, узнаем как тестировать и как верстать так, чтобы всем нравилось'}]
section.goals
    .container
        .goals__inner
            h2.goals__title { Что тебя ждёт? }
            .goals__wrapper
                .goals__items
                    each item in Items
                        .goals__item
                            h3.goals__item-title #{item.title}
                            p.goals__item-text #{item.text}
            include ../components/slider-buttons.pug
            include ../components/progress-bar.pug