include ../components/button-main.pug
header.header
    .container
        .header__inner
            a.logo(href="index.html")
                svg.icon-logo
                    use(xlink:href='sprites.svg#logo')
            nav.menu
                ul.menu__list
                    li.menu__list-item
                        a.menu__list-link(href="#!") Кто мы
                    li.menu__list-item
                        a.menu__list-link(href="#!") Что мы предлагаем
                    li.menu__list-item
                        a.menu__list-link(href="#!") Этапы
                    li.menu__list-item
                        a.menu__list-link(href="articles.html") Полезные статьи
                    li.menu__list-item
                        +button-main('button','Оставить заявку')
                img(class="mobile-menu" src="images/menu-mobile.svg", alt="mobile menu")