include ../components/button-main.pug
section.hero
    .container
        .hero__inner
            .hero__top
                .hero__top-content
                    h2.hero__top-title Фронтенд,<span>лето, юность</span>
                    +button-main('button-accent','Оставить заявку', 'Отправить заявку для получения информации')
                .hero__top-image
                    img(src="images/icons-hero.svg", alt="icons")
            .hero__bottom
                p.hero__bottom-text Мы — агентство Адитк. Сильны в сложной разработке, любим дизайн и брендинг, делаем хорошую интернет-рекламу.
                p.hero__bottom-text Мы более 9 лет занимаемся комплексной разработкой и поддержкой интернет-проектов: от создания до продвижения и рекламы