section.offer
    .container
        .offer__inner
            h2.offer__title { Что предлагаем? }
            p.offer__text В рамках стажировки вы изучите основы коммерческой разработки на HTML, CSS, JS, изучите работу с библиотеками и препроцессорами, узнаете, что такое хорошая верстка и отточите навыки на учебных и реальных проектах
            dl.offer__descr
                dt Срок стажировки:
                dd 3 месяца
            dl.offer__descr
                dt Полезность полученных знаний:
                dd бесценно