extends base/core.pug

block header
    include sections/header.pug
block content
    include sections/hero.pug
    include sections/offer.pug
    include sections/goals.pug
    include components/patch.pug
    include sections/steps.pug
    include sections/articles.pug
    include components/contact.pug
block footer
    include sections/footer.pug