include button-main.pug
.contact#contact
    .container
        .contact__inner
            h2.contact__title { Давай к нам! }
            form.contact__form(action="#!" id="contactForm")
                label
                    input(type="text" placeholder="Имя")
                    span.error-message(id="nameError")
                label
                    input(type="email" placeholder="Email")
                    span.error-message(id="emailError")
                label
                    input(type="text" placeholder="+7 (___) ___-__-__")
                    span.error-message(id="phoneError")
                label
                    input(type="text" placeholder="О себе")
                    span.error-message(id="aboutError")
                
                input(id="aggriment" type="checkbox")
                label(for="aggriment").aggriment Я согласен с политикой обработки персональных данных
                span.error-message(id="aggrimentError")
                +button-main('contact__form-btn', 'Отправить')
            include thanks.pug