include button-main.pug
.thanks
    .container
        .thanks__inner
            h2.thanks__title { Спасибо! }
            p.thanks__text Твоя заявка уже на нашей почте, скоро мы её проверим и ответим тебе
            +button-main('thanks__btn','Круто!')