include ../../components/button-main.pug
section.single-article
    .container
        .single-article__inner
            header.single-article__data 23 июня 2021
            h1.single-article__title Как тестировать сайты
            h2.single-article__subtitle Чтобы потом не было стыдно
            p.single-article__text Допустим, вы сделали сайт, но у вас нет тестировщика, который может всё проверить. Вот короткая инструкция, на что смотреть, чтобы с большой вероятностью после запуска всё было в порядке.
            p.single-article__text Допустим, вы сделали сайт, но у вас нет тестировщика, который может всё проверить. Вот короткая инструкция, на что смотреть, чтобы с большой вероятностью после запуска всё было в порядке.
            p.single-article__alarm Предупреждение: статья не претендует на академическую полноту, но точно поможет что-нибудь не упустить.
            h3.single-article__title-sub Что проверять:
            ol.single-article__orderlist
                li.single-article__item Элементы страницы расположены как на макете на всех устройствах.
                li.single-article__item Сайт одинаково выглядит и работает во всех нужных браузерах.
                li.single-article__item Кнопки нажимаются и после этого что-то происходит, слайдеры крутятся, гамбургеры раскрываются.
                li.single-article__item Все JavaScript-скрипты работают корректно.
                li.single-article__item Отображается правильный контент.
                li.single-article__item Отдаются нужные заголовки.
                li.single-article__item Загружаются правильные шрифты.
                li.single-article__item Фавиконка установлена.
                li.single-article__item Текст отображается не кракозябрами (в 2020 такое редко, но бывает).
                li.single-article__item Курсор интерактивный на интерактивных элементах и обычный на обычных.
                li.single-article__item С локализацией всё в порядке (русская, английская версия).
                li.single-article__item Страница не разъезжается, если включить блокировщик рекламы.
            p.single-article__text Иногда используют автоматические тесты, которые сравниваются отрендеренный результат кода аля интерфейс с рендер-версией приложения. Фактически, это сравнение скриншотов. Конечно, автотесты можно подготовить и для тестирования интерактивных элементов.
            h3.single-article__title-sub Инструменты:
            ul.single-article__unorderlist
                li.single-article__item Реальные браузеры и устройства.
                li.single-article__item Эмуляторы (BrowserStack, LambdaTest, Browsera, BrowserShots).
            h3.single-article__title-sub Ошибки JavaScript
            p.single-article__text Если в коде есть ошибки, их будет видно в консоли разработчика. Также там можно обратить внимание на запросы (время и коды ответов) и посмотреть размер загружаемых файлов. И если размер большой, обсудить с разработчиками оптимизацию кода на JavaScript, шрифтов и изображений.
            h3.single-article__title-sub Валидность кода
            p.single-article__text Нужно убедиться, что код удовлетворяет стандартам HTML/CSS, для этого есть специальные валидаторы.
            p.single-article__text Инструмент валидации оценивает синтаксис, находит синтаксические ошибки типа пропущенных символов и ошибочных тегов и т.д. И отлавливает одну из частых ошибок вложенности тегов.
            p.single-article__text Часто в результате сервисы валидации разметки, как и компиляторы в разработке, выдают список, разделённый на предупреждения и ошибки. Разница в критичности. Ошибки с максимальной вероятностью могут создать проблемы в работе кода. Это опечатки (да, техника любит точность), лишние или недостающие знаки. А вот к предупреждениям относятся неточности, которые с минимальной вероятностью навредят работе страницы, но не соответствуют стандартам. Это избыточный код, бессмысленные элементы и другие «помарки».
            img(src="images/code.webp", alt="code").single-article__code
            h3.single-article__title-sub Инструменты:
            ul.single-article__unorderlist
                li.single-article__item W3C валидатор
            figure.single-article__validator
                img(src="images/validator.webp", alt="validator")
                figcaption Описание контента (опционально)
            img(src="images/quote.webp", alt="quote").single-article__quote
            .single-article__author
                dl
                    dt Автор статьи
                    dd Соня Карпович
            +button-main('single-article__button', 'Назад')